<md-card>
  <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
  <md-card-content>
    <div layout="row">
      <div class="item-info" flex>
        <h3 class="md-title item-title">Shibuya Crossing</h3>
        <p class="item-subtitle">Random subtitle</p>
      </div>
      <md-button class="md-icon-button" aria-label="Favorite">
        <i class="zmdi zmdi-star-outline zmdi-hc-2x"></i>
      </md-button>
    </div>
  </md-card-content>
</md-card>
