#listing-detail {
  .angular-google-map-container {
    height: 200px;
  }

  .near-by {
    background-color: #F9F9F9;
  }

  .item-info {
    @include display(flex);
    @include flex-direction(column);
    padding-left: $base-spacing;
  }

  .md-button.md-icon-button {
    padding: 6px;
  }

  .photo-slide {
    height: 250px;
    background-size: cover;
    background-position: center;
  }

  .reserve-btn {
    margin-right: $small-spacing;
  }
}
