md-input-container .md-errors-spacer {
  min-height: 0;
}

.navbar {
  label {
    color: rgba(255,255,255, .5) !important;
  }

  input {
    border-color: rgba(255,255,255, .5) !important;
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
