<md-content id="main">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Places to visit">
      <md-content class="md-padding">
        <listing-item item="item" type="'attraction'" ui-sref="place-detail({
          id: item.id
        })" ng-repeat="item in (ctrl.attractions | limitTo:ctrl.attractionLimit)"></listing-item>
      </md-content>
    </md-tab>
    <md-tab label="Foods">
      <md-content class="md-padding">
        <md-select ng-model="ctrl.foodTab.priceRange">
          <md-option ng-repeat="option in ctrl.foodTab.priceRangeOptions" ng-value="option">
            {{ option.label }}
          </md-option>
        </md-select>

        <listing-item item="item" type="'venue'" ui-sref="restaurant-detail({
          id: item.id
        })" ng-repeat="item in (ctrl.venues | priceRange:ctrl.foodTab.priceRange | limitTo:ctrl.venueLimit)"></listing-item>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
