<md-content layout-padding id="reserve">
  <p><b>Reserve for:</b> {{ ctrl.venue.name }}<br>
  <b>Address:</b> {{ ctrl.venue.address }}</p>

  <form name="ctrl.reservationForm">
    <div layout="column">
      <md-input-container>
        <label>Name</label>
        <input ng-model="ctrl.reservation.name" required>
      </md-input-container>

      <md-input-container>
        <label>Number of Guest</label>
        <input ng-model="ctrl.reservation.guestNumber" type="tel" required>
      </md-input-container>

      <div layout="row">
        <md-input-container>
          <input
            time="false"
            date="true"
            mdc-datetime-picker=""
            min-date="ctrl.minDate"
            type="text"
            id="date"
            placeholder="Date"
            ng-model="ctrl.reservation.date"
            class=" md-input"
            required>
        </md-input-container>

        <md-input-container class="md-block" flex>
          <input
            mdc-datetime-picker=""
            date="false"
            time="true"
            type="text"
            id="time"
            short-time="true"
            placeholder="Time"
            min-date="ctrl.minDate"
            format="hh:mm a"
            ng-model="ctrl.reservation.time"
            class=" md-input"
            required>
        </md-input-container>
      </div>

      <md-input-container layout="row">
        <md-button flex class="md-raised md-primary">Reserve</md-button>
      </md-input-container>
    </div>
  </form>
</md-content>
